# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool: Default

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'

- task: FortifySCA@6
  inputs:
    runBuildTranslate: true
    applicationType: 'other'
    buildToolOptions: 'mvn com.fortify.sca.plugins.maven:sca-maven-plugin:translate'
    fortifyBuildId: '8ball'
    runFortifyRulepackUpdate: false
    runFortifyClean: true
    scaVerbose: false
    scaDebug: false
    runFortifyScan: true
    fortifyScanType: 'LocalScan'
    runFortifyUpload: true
    fortifyServerName: 'SSC'
    fortifyApplicationName: 'EightBall'
    fortifyApplicationVersion: '1'
